* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, .lead { font-family: 'Raleway', sans-serif;}

/*navbar*/
.navbar-inverse{
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-inverse .navbar-brand span {
    color: #f72f2f;
}

.nav > li > a {
    padding: 17px 25px;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus 
{
    background-color: #f72f2f;
    left: 0;
    right: auto;
}

.open > .dropdown-menu  {
    border-top: 3px solid #f72f2f;
    font-size: 16px;
    background-color: #222222;
    left: 0;
    right: auto;
    
}

.open > .dropdown-menu > li > a {
    background-color: #222222;
    color: #fff;
    padding: 3px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus
{
    padding-left: 35px;
    background-color: #222222;
    color: #fff;
}

/*slide show*/
#carousel-example-generic {
    width: 100%;
    height: 437px;
    margin-top: 0;
    background-color: #eeeeee;
    overflow: hidden;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 25px;
}

.carousel-indicators li:hover,
.carousel-indicators .active
{
    background-color: #f72f2f;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
    width: 100%;
    height: 437px;
}

.carousel-caption{
    bottom: 140px;
    background-color: rgba( 0 , 0 , 0 , 0.4 );
}

.carousel-caption h2{
    margin-bottom: 30px;
}

/*section*/
.about {
    padding-top: 30px;
    padding-bottom: 40px;
}

.about h1, .about h3{
    margin-top:20px;
    margin-bottom: 30px;} 

.about h1 span,
.about h3 span{
    color: #f72f2f;
    font-weight: bold;
}

.about p {
    color: #888;
    margin-top: 25px;
    font-size: 20px;
}

/*features*/

.features {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eeeeee;
}

.features h2 {
    font-weight: bold;
    color: #f72f2f;
    margin-bottom: 30px;
}

.features .feat span.glyphicon{
    font-size: 30px;
    color: #666666;

}

.features .feat h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

/*testiminials*/

.testimonials { 
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonials h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.testimonials .lead {
    line-height: 2em;
    margin-bottom: 10px;
}

.testimonials .item span {
    color: #f72f2f;
    font-weight: bold;
    font-size: 20px;
}

.testimonials .carousel-indicators
{
    position: static;
    padding-top: 15px;
    width: 100%;
    margin-left: auto;
}

.testimonials .carousel-indicators li 
{
    height: 80px;
    width: 80px;
    text-indent: 0;
    margin: 5px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    background: none;
    opacity: 0.4;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    
}

.testimonials .carousel-indicators .active
{
    border: 3px solid #f72f2f;
    opacity: 1;
    
}

.testimonials .carousel-indicators li img 
{
    max-width: 100%;
}


/*price table*/
.price-table
{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eeeeee;
    margin-left: 5px;
}



.price-table h1
{
    font-weight: bold;
    margin-bottom: 50px;
}

.price-table .price-unit
{
    margin-bottom: 20px;
}

.price-table .price-unit .branch
{
    width: 94%;
    margin: 0 3%;
    background-color: #fff;
    padding: 5px 15px 20px;
}

.price-table .price-unit .branch h4
{
    margin-bottom: 15px;
    font-weight: bold;
    padding: 5px;
}

.price-table .price-unit .branch span 
{
    font-size: 30px;
    font-weight: bold;
    color: #777777;
    width: 100px;
    height: 100px;
    background: #f3f3f3;
    border-radius: 50%;
    line-height: 100px;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    margin-bottom: 10px;
    border: 2px solid #fff;
}

.price-table .price-unit .branch:hover span
{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(2,2);
    border: 2px solid #dfdfdf;
    -webkit-transform:rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    
} 

.price-table .price-unit .branch ul
{
    padding-top: 10px;
}

.price-table .price-unit .branch ul li
{
    color: #555555;
    font-size: 150%;
    margin-bottom: 10px;
}

.price-table .price-unit .branch a
{
    margin-top: 15px;
}

/*our team*/

.our-team 
{
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
}

.our-team .team
{
    min-height: 400px;
    background-color: rgba(2, 2, 2, 0.65);
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

.our-team .team h1
{
    margin-bottom: 45px;
    font-size: 45px;
    font-weight: bold;
    color: #b6e8ff;
}

.our-team .team .person 
{
    margin-bottom: 20px;
}

.our-team .team .person p
{
    margin: 25px 0;
}

/*subscribe*/
.subscribe
{
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #EEE;

}

.subscribe h1 
{
    letter-spacing: 6px;
    margin-bottom: 25px;
    color: #888888;
}

.subscribe p
{
    margin-bottom: 30px;
}

.subscribe .form-inline input 
{
    margin-right: -5px;
    border-radius: 0;
    width: 400px;
}

.subscribe .form-inline button
{
    border-radius: 0;
}

/* statistics */
.statistics 
{
    min-height: 300px;
    background: url('../images/background3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.statistics .stat
{
    background-color: rgba(2, 2, 2, 0.8);
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 70px;
    color: #cec8c8;
}

.statistics .stat h1
{
    margin-bottom: 30px;
    letter-spacing: 5px;
    font-size: 30px;
}

.statistics .stat i
{
    margin-bottom: 30px;
}

.statistics .stat p
{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

.statistics .stat span.icon
{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.statistics .stat span
{
    font-size: 18px;
    font-weight: 700;
}

/* our skills */
.our-skills
{
    padding-top: 40px;
    padding-bottom: 70px;
}

.our-skills h1
{
    margin-bottom: 60px;
    font-weight: bold;
}

.our-skills h3
{
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: bold;

}

.our-skills .progress
{
    height: 36px;
}

.our-skills .progress .progress-bar
{
    line-height: 36px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    text-indent: 10px;
}

/* contact us */
.contact-us
{
    min-height: 300px;
    background: url('../images/contact\ us.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.contact-us .feilds
{
    background-color: rgba(9, 9, 9, 0.8);
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 70px;
    color: #cec8c8;
}

.contact-us p{margin-bottom: 40px;}

.contact-us .feilds span.glyphicon
{
    font-size: 70px;
    font-weight: bolder;
}


.contact-us textarea {
    height: 108px; 
    width: 100%;
    margin-bottom: 12px
}

.contact-us button {    height: 42px}

.contact-us .form-group input {width: 100%;}

.contact-us input[type="text"] ,
.contact-us textarea
{
    background: rgba(80,78, 78, 0.7);
    color: #fff;
    border: none;
}

/* our-clients */ 
.our-clients
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eeeeee;
}

.our-clients img
{
    margin: 20px 0;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.our-clients img:hover
{
    opacity: 1;
    filter: alpha(opacity=1);
}

/* footer */

footer
{
    padding-top: 20px;
    background-color: #111111;
    color: #aaa;
}

footer h3 {
    color: #0895D1;
    letter-spacing: 1px;
    margin: 30px 0 20px;
}

footer a {
    text-decoration: none;
    color: #aaa;
}

footer a:hover 
{
    text-decoration: none;
    color: #ffffff;
}

footer ul.three-columns
{
    overflow: hidden;
}

footer ul li
{
    float: left;
    width: 33.3333333%;
    padding: 5px 0;
}

footer ul.social
{
    margin: 20px 0 10px;
    overflow: hidden;
}

footer ul.social li
{
    float: left;
    width: 16%;
    overflow: hidden;
    margin-right: 0.66666%;
    opacity: 0.4;
    filter: alpha(opacity=0.4);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    
}

footer ul.social li:hover
{
    opacity: 1;
    filter: alpha(opacity=1);
}

footer .social li img
{
    max-width: 100%;
    max-height: 100%;
}

footer .img-thumbnail
{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #444444;
    margin-bottom: 5px;
}

footer .copyright
{
    background: #333333;
    color: #aaa;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 18px;
}

footer .copyright span 
{
    color: #0895D1;
}


